@model IEnumerable<RecipesDTO>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string body =item.Body.Length>21 ? item.Body.Substring(0, 20): item.Body;
            <tr id="row_@item.ID">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>*@
                <td class="col-lg-4">
                    @body            
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Category.ID)
                    </td>*@
                <td class="col-lg-6">
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn btn-primary">Edytuj</a> 
                    <a asp-action="Details" asp-route-id="@item.ID"class="btn btn-info">Szczegóły</a> 
                    <button id="btnDelete_@item.ID" class="btn btn-danger" onclick="showPopup(@item.ID,'Recpies')">Usuń</button>
                </td>
            </tr>
        }
    </tbody>
</table>
